em {
	font-style: italic;
}

#quote{
	text-align: center
}
body{
	padding: 100px;
	margin: auto;
	text-align: justify-all;
	max-width:650px;
}
footer{
	border-top: 3px solid black;
}

h1{
	font-size: 40px
}
